main {
  background-color: #50f8f0;
  color: #1029b3;
  padding: 20px 40px;
  width: 250px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bitcoin-converter {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

input {
  margin-top: 5px;
  padding: 5px;
}

button {
  border: none;
  background-color: #6b79e7;
  outline: none;
  /* border-radius: 2px; */
  color: white;
  cursor: pointer;
  padding: 7px 10px;
}
